<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>
<body>

<div class="container">
    <div th:replace="fragments/managerBodyHeader :: managerBodyHeader"></div>

    <a href="/manager/boardForm">게시판 생성</a>

    <div id="ajaxPart"></div>

    <div th:replace="fragments/footer :: footer"></div>
</div>

</body>
</html>
<script>
    searchBoard(0)


    function searchBoard(page) {
        $.ajax({
            url: '/manager/board/list',
            method: 'GET',
            data: {
                page: page
            },
            success: function (d) {
                $('#ajaxPart').html(d)
            }
        })
    }
</script>