<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>
<body>

<div class="container">
    <div th:replace="fragments/adminBodyHeader :: adminBodyHeader"></div>

    <a href="/admin/boardForm">게시판 생성</a>

    <table>
        <thead>
            <th>아이디</th>
            <th>이름</th>
            <th>게시글 수</th>
        </thead>
        <tr th:each="board : ${boards}">
            <td th:text="${board.id}"></td>
            <td th:text="${board.name}"></td>
            <td th:text="${board.postList.size()}"></td>
            <td><a href="">수정</a></td>
            <td>
                <form  th:id="${board.id}" th:action="@{/board/delete/{boardId}(boardId=${board.id})}" th:method="delete">
                    <button id="deleteButton">삭제</button>
                </form>
            </td>
        </tr>
    </table>

    <div th:replace="fragments/footer :: footer"></div>
</div>

</body>
</html>
<script>
    document.getElementById("deleteButton").addEventListener("click", function() {
        if (confirm("정말로 삭제하시겠습니까?")) {
            // DELETE 요청을 수행하기 위한 AJAX 호출
            fetch("/board/delete/" + this.parent().id(), {
                method: "DELETE",
                headers: {
                    "Content-Type": "application/json" // 필요한 경우 변경
                }
            }).then(function(response) {
                if (response.ok) {
                    // 처리 성공 시에 수행할 작업
                    window.location.href = "/admin/board"; // 성공 페이지로 리다이렉트
                } else {
                    // 처리 실패 시에 수행할 작업
                    alert("삭제에 실패했습니다.");
                }
            }).catch(function(error) {
                console.error("Error:", error);
            });
        }
    });
</script>