<table class="table">
    <thead>
    <th>제목</th>
    <th>작성자</th>
    <th>작성일</th>
    </thead>
    <tr th:each="post : ${boards.getContent()}">
        <td>
            <a th:href="@{/post/{postId}(postId=${post.id})}" th:text="*{post.title}"></a>
        </td>
        <td th:text="*{post.nickname}"></td>
        <td th:text="*{post.createDate}"></td>
    </tr>
</table>

<nav aria-label="Page navigation" class="pagination justify-content-center">
    <ul class="pagination">
        <li th:if="${boards.hasPrevious()}" class="page-item">
            <a href="#" th:onclick="'searchMember(0);'" class="page-link">처음</a>
        </li>
        <li th:if="${boards.hasPrevious()}" class="page-item">
            <a href="#" th:onclick="'searchMember(\'' + ${boards.getNumber()-1} + '\');'" class="page-link">이전</a>
        </li>
        <li th:each="i : ${#numbers.sequence(0, boards.totalPages - 1)}" class="page-item">
            <a href="#" th:onclick="'searchMember(\'' + ${i} + '\');'" th:classappend="${boards.number == i} ? 'active' : ''" class="page-link" th:text="${i + 1}">1</a>
        </li>
        <li th:if="${boards.hasNext()}" class="page-item">
            <a href="#" th:onclick="'searchMember(\'' + ${boards.getNumber()+1} + '\');'" class="page-link">다음</a>
        </li>
        <li th:if="${boards.hasNext()}" class="page-item">
            <a href="#" th:onclick="'searchMember(\'' + ${boards.getTotalPages() - 1} + '\');'" class="page-link">끝</a>
        </li>
    </ul>
</nav>