<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"></div>

    <a th:href="@{/post/form/{boardId}(boardId=${boardId})}">게시글 작성</a>
    <input type="hidden" id="id" th:value="${boardId}">
    <div id="ajaxPart"></div>

    <div th:replace="fragments/footer :: footer"></div>
</div>

</body>
</html>
<script>
    searchPost(0)
    function searchPost(page) {
        $.ajax({
            url: '/board/'+$('#id').val()+'/list',
            method: 'GET',
            data: {
                page: page
            },
            success: function (d) {
                $('#ajaxPart').html(d)
            }
        })
    }
</script>