<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"></div>
    <input type="hidden" id="id" th:value="${post.id}">
    <h1 th:text="${post.title}"></h1>
    <span th:text="${post.member.nickname}"></span>
    <span th:text="${post.createDate}"></span>
    <div class="content">
        <p th:text="${post.content}"></p>
    </div>

    <label th:for="content">댓글</label>
    <div id="commentList">
    </div>
    <form role="form" action="/comment" method="post">
        <input type="hidden" name="postId" th:value="${post.id}">
        <div class="form-group">
            <textarea name="content" id="content" class="form-control"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">작성</button>
    </form>

    <div th:replace="fragments/footer :: footer"></div>
</div>
</body>
</html>
<script>
    getCommentList(0)
    function getCommentList(page) {
        $.ajax({
            url: "/comments",
            method: "get",
            data: {postId: $('#id').val(),
                page:page
            },
            success: function (d) {
                $('#commentList').html(d)
            }
        })
    }
</script>